@import url(http://fonts.googleapis.com/css?family=Lato:300);

html {
    height: 100%;
}

body {
    height: 100%;
    font-family: 'Lato', sans-serif !important;
    background-image: url("../img/portland.png");
    color: #000 !important;
}

#email {
    color: #000;
}

#links {
    padding: 5px;
}

#main-container {
    width: 375px;
    background-color: #ddd;
    border-radius: 7px;
    padding: 20px;
    opacity: 0.8;
}

#name {
    font-size: 44px;
}

.center-horizontal {
    margin: 0 auto;
}

.fb-like {
    vertical-align: top !important; 
}

.push {
    height: 15%;
}

.wrapper {
    height: 100%;
}
