@import url(http://fonts.googleapis.com/css?family=Lato:300);

html {
    height: 100%;
}

body {
    height: 100%;
    font-family: 'Lato', sans-serif !important;
    background-image: url("../img/clouds_sm.png");
}

#email {
    color: #333;
}

#links {
    padding: 5px;
}

#main-container {
    width: 500px;
}

#name {
    font-size: 44px;
}

.center-horizontal {
    margin: 0 auto;
}

.fb-like {
    vertical-align: top !important; 
}

.push {
    height: 15%;
}

.wrapper {
    height: 100%;
}
