@import url(http://fonts.googleapis.com/css?family=Lato:400);
@import url(http://fonts.googleapis.com/css?family=Raleway:600);

html {
    height: 100%;
}

h1 {
    font-family: 'Lato', sans-serif !important;
    color: #000;
}

body {
    height: 100%;
    background-color: #666 !important;
    font-family: 'Raleway', sans-serif !important;
    color: #ddd; 
    overflow: hidden;
    
    animation-name: slowZoom;
    animation-iteration-count: 1;
    animation-timing-function: zoom;
    animation-duration: 30s;
    animation-fill-mode: forwards;

    -webkit-animation-name: slowZoom;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: zoom;
    -webkit-animation-duration: 30s;
    -webkit-animation-fill-mode: forwards;

    -moz-animation-name: slowZoom;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: zoom;
    -moz-animation-duration: 30s;
    -moz-animation-fill-mode: forwards;
}
@keyFrames slowZoom {
    0% {
        background-size: 100%;
    }
    100% {
        background-size: 110%;
        rotate(0.1deg);
    }
}

#background {
    background-color: #666;
    background-image: url("../img/bg/conceptual_color.jpg");
    background-repeat: no-repeat;
    background-position: center 0px;
    position: absolute;
    height: 100%;
    z-index: -1;
}

#email {
    color: #ddd;
}

#footer {
    height: 4em;
    color: #ddd;
}

#links {
    padding: 5px;
}

#main-container {
    margin: 0 auto;
    max-width: 75%;
    border-radius: 7px;
    padding: 20px;
}

#main-text-container {
    margin: 30px auto 0;
    margin-left: 42%;
    height: 50px;
}

#main-text {
    display: inline;
}

#name {
    font-size: 44px;
}

#slogan {
    color: #fff;
    text-shadow: 0 0 10px #000052;
    display: inline;
    vertical-align: top !important; 
}

.center-horizontal {
    margin: 0 auto;
}

.fb-like {
    vertical-align: top !important; 
}

.push {
    height: 6em;
}

.rounded {
    border-radius: 7px;
}

.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100;
    margin: 0 auto -4em;
}
